<div class="main blogs-index">
  <div class="container">
    <% @blogs.each do |blog| %>
      <div class="blogs-index-item">
        <div class="blog-left">
        </div>
        <div class="blog-right">
          <div class="blog-user-name">
            <%= link_to(blog.user.name, "/users/#{blog.user.id}") %>
          </div>
          <%= link_to(blog.content, "/blogs/#{blog.id}") %>
        </div>
        <% if blog.user_id == current_user.id %>
          <%= link_to '編集', edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %> <%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
